.messageContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;
}

.notificationContainer {
    border: 2px solid #b1d3b7;
    background-color: #cdf3d4;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;
}

.messageContainerDarker {
    border: 2px solid #dedede;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;
}

.messageContainer::after, .messageContainerDarker::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}
